<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Knjiga šanka</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/knjigaweb/css/isotope.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/knjigaweb/js/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/knjigaweb/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/knjigaweb/css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/knjigaweb/css/style.css') }}">
    <!-- skin -->
    <link rel="stylesheet" href="{{ asset('bundles/knjigaweb/css/skin/default.css') }}">
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{{ asset('bundles/knjigaweb/img/favicon/favicon.ico') }}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ asset('bundles/knjigaweb/img/favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-192.png') }}">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-160.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-96.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-64.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-16.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-57.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-72.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-144.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-60.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-120.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-76.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/knjigaweb/img/favicon/favicon-180.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/knjigaweb/img/favicon/favicon-144.png') }}">
    <meta name="msapplication-config" content="{{ asset('bundles/knjigaweb/img/favicon/browserconfig.xml') }}">
    <!-- ****** faviconit.com favicons ****** -->
</head>

<body>
<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars color-white"></span>
            </button>
            <h1><a class="navbar-brand" href="{{ path('knjiga_web_homepage') }}" data-0="line-height:90px;" data-300="line-height:50px;">
                    <i class="fa fa-book fa-1x mar-bot20"></i>	 KNJIGA ŠANKA
                </a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                <li class="active"><a href="{{ path('knjiga_web_homepage') }}">Home</a></li>
                <li><a href="#section-about">About</a></li>
                <li><a href="#section-works">Portfolio</a></li>
                <li><a href="#section-contact">Kontakt</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot40">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">

                    <div class="align-center">
                        <i class="fa fa-book fa-5x mar-bot20"></i>
                        <h2 class="slogan">Online vođenje knjige šanka</h2>
                        <p class="promo-text">
                            Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut.
                            Eum impetus offendit disputationi eu, at vim aliquip lucilius praesent.
                            Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">

                    <div class="align-center">

                        <div class="pull-left try-demo">
                            <a href="{{ path('fos_user_security_login') }}"><h4>Login</h4></a>
                        </div>
                        <div class="pull-right promo-register">
                            <a href="{{ path('fos_user_registration_register') }}"><h4>REGISTRACIJA</h4></a>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--
		<section class="featured">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							<i class="fa fa-flask fa-5x mar-bot20"></i>
							<h2 class="slogan">Welcome to Amoeba</h2>
							<p>
							Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut. 
							Eum impetus offendit disputationi eu, at vim aliquip lucilius praesent. 
							Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut. 
				
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
		-->

<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-lg-4" >
                <div class="align-center">
                    <i class="fa fa-cloud fa-5x mar-bot20"></i>
                    <h4 class="text-bold">Sve je u oblaku</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-4" >
                <div class="align-center">
                    <i class="fa fa-signal fa-5x mar-bot20"></i>
                    <h4 class="text-bold">Statistika</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-4" >
                <div class="align-center">
                    <i class="fa fa-folder-open fa-5x mar-bot20"></i>
                    <h4 class="text-bold">Automatski backup</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- spacer section:testimonial -->
<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h5>
                            Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
                        </h5>
                        <br/>
                        <span class="author">&mdash; MIKE DOE <a href="#">www.siteurl.com</a></span>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
</section>

<!-- about -->
<section id="section-about" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>

        <div class="row align-center mar-bot40">
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member1.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Jason Doe</h4>
                        <span>User experiences</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member2.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Timothy Clark</h4>
                        <span>Web developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member3.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Vicky Tan</h4>
                        <span>Web designer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member4.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Kevin Peterson</h4>
                        <span>UI designer</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /about -->

<!-- spacer section:stats -->
<!-- 	<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
        <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
            <p class="color-white">Bootstraptaste</p>
        </div>
        </div>
    </section>-->

<!-- section works -->
<section id="section-works" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                    <li><a href="#"  class="btn-theme btn-small" data-filter=".webdesign" >Web Design</a></li>
                    <li><a href="#"  class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
                    <li ><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix" id="3">

                        <article class="col-md-4 isotopeItem webdesign">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img1.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img2.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img3.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img4.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img5.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img5.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem webdesign">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img6.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img6.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img7.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img8.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img9.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>


            </div>
        </div>

    </div>
</section>
<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot40">
        <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
        <p class="color-white">Bootstraptaste</p>
    </div>
</section>

<!-- contact -->
<section id="section-contact" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">
                        Your message has been sent. Thank you!
                    </div>
                    <form action="contact/contact.php" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validation"></div>
                        </div>

                        <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
                    </form>

                </div>
            </div>
            <!-- ./span12 -->
        </div>

    </div>
</section>

<section id="footer" class="section footer">
    <div class="container">
        <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row align-center copyright">
            <div class="col-sm-12"><p>Copyright &copy; 2014 Knjiga šanka</p></div>
        </div>
    </div>

</section>
<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

<script src="{{ asset('bundles/knjigaweb/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/bootstrap.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.nicescroll.min.js') }}j"></script>
<script src="{{ asset('bundles/knjigaweb/js/fancybox/jquery.fancybox.pack.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/skrollr.min.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.localscroll-1.2.7-min.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/stellar.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/jquery.appear.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/validate.js') }}"></script>
<script src="{{ asset('bundles/knjigaweb/js/main.js') }}"></script>

</body>
</html>