<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/knjigaweb/css/semantic.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="ui segment">
    <div class="ui fixed inverted main menu">
        <div class="container">
            <a href="{{ path('knjiga_web_homepage') }}" class="launch item">
                <i class="home icon"></i> Početna
            </a>
            <a href="{{ path('book') }}" class="launch item">
                <i class="book icon"></i> Knjiga šanka
            </a>
            <a href="{{ path('product') }}" class="launch item">
                <i class="cocktail icon"></i>Proizvodi
            </a>
            <a href="" class="launch item">
                <i class="help circle icon"></i></i> Uputstvo
            </a>
            <a href="{{ path('fos_user_profile_show') }}" class="launch item">
                <i class="user icon"></i> Profil
            </a>
        </div>
    </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/knjigaweb/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/knjigaweb/js/semantic.min.js') }}"></script>
            <script src="{{ asset('bundles/knjigaweb/js/jquery.numeric.js') }}"></script>
            <script src="{{ asset('bundles/knjigaweb/js/app.js') }}"></script>
        {% endblock %}
        <script>
            $('.ui.checkbox')
                    .checkbox()
            ;
            $('.example1').progress();
        </script>
    </body>
</html>
