{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <style>
        .login-background {

            background: url("bundles/knjigaweb/img/image-login-back.jpeg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 100% !important;
            height: 1000px !important;
        }

        .login-holder {
            background-color: white;
        }
    </style>



    <div class="ui page grid login-background">

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>


        <div class="ten wide column centered login-holder">
            <div class="ui two column middle aligned relaxed fitted stackable grid">
                <div class="column">

                    {% if error %}

                        <div class="ui message black">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}
                    <div class="ui form segment">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="field">
                                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                                <div class="ui left icon input">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           required="required"/>
                                    <i class="user icon"></i>
                                </div>
                            </div>

                            <div class="field">
                                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                                <div class="ui left icon input">
                                    <input type="password" id="password" name="_password" required="required"/>
                                    <i class="lock icon"></i>
                                </div>
                            </div>

                            <div class="ui checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                            </div>
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                            <br>
                            <br>

                            <input type="submit" id="_submit" name="_submit" class="ui black submit button"
                                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>


                        </form>
                    </div>
                </div>

                <div class="ui vertical divider">
                    Ili
                </div>
                <div class="center aligned column">
                    <a href="{{ path('fos_user_registration_register') }}">
                        <div class="huge brown ui labeled icon button">
                            <i class="signup icon"></i>
                            Registracija
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
