{% extends '::base.html.twig' %}

{% block body -%}

    <div class="ui hidden divider"></div><div class="ui hidden divider"></div>
    <div class="ui grid">
        <div class="two wide column">

        </div>
        <div class="four wide column">
            <a href="{{ path('product') }}">
                <div class="ui labeled icon button">
                    <i class="left arrow icon"></i>
                    Lista proizvoda
                </div>
            </a>
        </div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
    </div>


    <div class="ui four column centered grid">
        <div class="column">
            <h1>Izmeni proizvod</h1>
            {{ form_start(edit_form, { 'attr': {'class': 'ui form' } }) }}
            {{ form_errors(edit_form) }}

            <div class="field">
                <label> {{ form_label(edit_form.productNumber) }}</label>

                {{ form_errors(edit_form.productNumber) }}
                <div class="field">
                    {{ form_widget(edit_form.productNumber) }}
                </div>

            </div>

            <div class="field">
                {{ form_label(edit_form.name) }}
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name) }}
            </div>

            <div class="field">
                {{ form_label(edit_form.price) }}
                {{ form_errors(edit_form.price) }}
                {{ form_widget(edit_form.price) }}
            </div>

            <div class="field">
                {{ form_label(edit_form.taxRate) }}
                {{ form_errors(edit_form.taxRate) }}
                {{ form_widget(edit_form.taxRate) }}
            </div>

            <div class="field">
                {{ form_label(edit_form.parent) }}
                {{ form_errors(edit_form.parent) }}
                {{ form_widget(edit_form.parent, { 'attr': { 'class': 'ui search dropdown'}}) }}

            </div>



            <div>
                {{ form_widget(edit_form.submit, { 'attr': { 'class': 'ui green button'}}) }}
            </div>

            {{ form_end(edit_form) }}
        </div>

    </div>

   {# <h1>Product edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
