{% extends '::base.html.twig' %}

{% block body -%}

    <div class="ui page grid" xmlns="http://www.w3.org/1999/html">
    <div class="column">

     <div class="ten wide column">

         

    <h1>Proizvodi</h1>

         <a href="{{ path('product_new') }}">
             <div class="ui green button">Dodaj novi proizvod</div>
         </a>


    <table class="records_list ui striped table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Taxrate</th>
                {#<th>Basicingredients</th>#}
           {#     <th>Updated</th>
                <th>Created</th>
                <th>Active</th>
                <th>Id</th>#}
                <th>Izmeni</th>
                <th>Obriši</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            <tr>
                {#<td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.productNumber }}</a></td>#}
                <td>{{ entity.productNumber }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.taxRate }}</td>
               {#<td>{{ entity.parent.name }}</td>#}
              {#  <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.id }}</td>#}
                <td>

                        <a href="{{ path('product_edit', { 'id': entity.id }) }}" class="ui primary button mini"><i class="edit icon"></i> Izmeni</a>


                </td>
                <td>

                    {#<form action="{{ path('product_delete', { 'id': entity.id }) }}" method="post">
                        <input type="submit" class="ui red button mini" value="Obriši">
                    </form>#}
                    <a href="{{ path('product_delete', { 'id': entity.id }) }}" class="ui red button mini"><i class="remove icon"></i> Obriši</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
    </div>
    </div>



    {% endblock %}
