{% extends '::base.html.twig' %}

{% block body -%}
    <div class="ui hidden divider"></div><div class="ui hidden divider"></div>
    <div class="ui grid">
        <div class="two wide column">

        </div>
        <div class="four wide column">
            <a href="{{ path('product') }}">
                <div class="ui labeled icon button">
                    <i class="left arrow icon"></i>
                    Lista proizvoda
                </div>
            </a>
        </div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
    </div>


<div class="ui four column centered grid">
    <div class="column">
        <h1>Novi proizvod</h1>
        {{ form_start(form, { 'attr': {'class': 'ui form' } }) }}
        {{ form_errors(form) }}

        <div class="field">
            <label> {{ form_label(form.productNumber) }}</label>

            {{ form_errors(form.productNumber) }}
            <div class="field">
                {{ form_widget(form.productNumber) }}
            </div>

        </div>

        <div class="field">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="field">
            {{ form_label(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_widget(form.price) }}
        </div>

        <div class="field">
            {{ form_label(form.taxRate) }}
            {{ form_errors(form.taxRate) }}
            {{ form_widget(form.taxRate) }}
            </div>

            <div class="field">
                {{ form_label(form.parent) }}
                {{ form_errors(form.parent) }}
                {{ form_widget(form.parent, { 'attr': { 'class': 'ui search dropdown'}}) }}

            </div>



            <div>
                {{ form_widget(form.submit, { 'attr': { 'class': 'ui green button'}}) }}
            </div>

            {{ form_end(form) }}
    </div>

</div>





{% endblock %}
