{% extends '::base.html.twig' %}

{% block body -%}
    <div class="ui segment">
<div class="ui page grid">

        <div class="sixteen wide column">

            {{ form(form) }}

            <input type="button" class="btn btn-default btn-sm no-print" onClick="window.print()" value="Print"/>

            <div class="center aligned sixteen column row">
                        <h1>LIST DNEVNOG PROMETA UGOSTITELJA</h1>
                            <h4>za dan: {{ date|date("m/d/Y") }}</h4>
            </div>

    <table class="records_list ui striped table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime proizvoda</th>
                <th>PP Stopa</th>
                <th>Prenetakolicina</th>
                <th>Nabavnakolicina</th>
                <th>Ukupnakolicina</th>
                <th>Zalihenakrajudana</th>
                <th>Utrosenakolicina</th>
                <th>Cena</th>
                <th>Ostvarenipromet</th>
                <th>Vrednostzaliha</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{% if entity.product.parent is not empty %}{% for parent in entity.product.parent %}{% if loop.last %}{{ parent.id }}{% endif %}{% endfor %}{% else %}noParent{% endif %}"
                id="{{ entity.id }}">
                <td>{{ entity.product.productnumber }} <div id="loader-{{ entity.id }}" class=""></div></td>
                <td>{{ entity.product.name }}</td>
                <td>{{ entity.product.taxrate }}</td>
                <td class="preneta-kolicina" id="preneta-kolicina-{{ entity.product.id }}">
                    {{ entity.prenetaKolicina }}
                </td>
                <td>
                    <div class="ui  transparent input attached ">
                        <input type="text" class="nabavna-kolicina" id = "nabavna_kolicina_{{ entity.product.id }}" value="{{ entity.nabavnaKolicina }}">
                    </div>
                    <div class="ui bottom attached progress indicating" id="nabavna-progress-{{ entity.id }}">
                        <div class="bar"></div>
                    </div>
                </td>
                <td class="ukupna-kolicina" id="ukupna-kolicina-{{ entity.product.id }}">
                    {{ entity.ukupnaKolicina }}
                </td>
                <td class="zalihe-na-kraju-dana" id="zalihe-na-kraju-dana-{{ entity.product.id }}">{{ entity.zaliheNaKrajuDana }}</td>
                <td>
                    <div class="ui  transparent input">
                        <input type="text" class="utrosena-kolicina"  id = "utrosena_kolicina_{{ entity.product.id }}" value="{{ entity.utrosenaKolicina }}">
                        <div class="ui bottom attached progress indicating" id="utrosena-progress-{{ entity.id }}">
                            <div class="bar"></div>
                        </div>
                    </div>
                </td>
                <td class="cena" id="cena-{{ entity.product.id }}">{{ entity.product.price }}</td>
                <td class="ostvareni-promet" id="ostvareni-promet-{{ entity.product.id }}">{{ entity.ostvareniPromet }}</td>
                <td class="vrednost-zaliha" id="vrednost-zaliha-{{ entity.product.id }}">{{ entity.vrednostZaliha }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

            <div class="ui right aligned grid">
                <div class="left floated left aligned six wide column">
                    <div class="segment">
                        <p>Prodajna vrednost na pocetku dana:<span id="pocetak-dana"></span></p>
                        <p>Prodajna vrednost na kraju dana:<span id="kraj-dana"></span></p>
                    </div>
                </div>
                <div class="right floated right aligned six wide column">
                    <div class="segment">
                        <p>Svega:<span id="svega"></span>
                        <p>Lice odgovorno za šank:</p>
                    </div>
                </div>
            </div>

            </div>
            </div>
    </div>
    {% endblock %}
