{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Book</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Product</th>
                <td>{{ entity.product }}</td>
            </tr>
            <tr>
                <th>Prenetakolicina</th>
                <td>{{ entity.prenetaKolicina }}</td>
            </tr>
            <tr>
                <th>Nabavnakolicina</th>
                <td>{{ entity.nabavnaKolicina }}</td>
            </tr>
            <tr>
                <th>Ukupnakolicina</th>
                <td>{{ entity.ukupnaKolicina }}</td>
            </tr>
            <tr>
                <th>Zalihenakrajudana</th>
                <td>{{ entity.zaliheNaKrajuDana }}</td>
            </tr>
            <tr>
                <th>Utrosenakolicina</th>
                <td>{{ entity.utrosenaKolicina }}</td>
            </tr>
            <tr>
                <th>Ostvarenipromet</th>
                <td>{{ entity.ostvareniPromet }}</td>
            </tr>
            <tr>
                <th>Vrednostzaliha</th>
                <td>{{ entity.vrednostZaliha }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('book_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
