<style>
    .login-background {

        background: url("/bundles/knjigaweb/img/image-login-back.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100% !important;
        height: 1000px !important;
    }

    .login-holder {
        background-color: white;
    }
</style>
<div class="ui page grid login-background">

 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ten wide column centered login-holder">
  <div class="ui two column middle aligned relaxed fitted stackable grid">
   <div class="column">
    <div class="ui form segment">
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">


    {{ form_errors(form) }}
    <div class="field">
        {{ form_label(form.username) }}
        <div class="ui left icon input">
            {{ form_widget(form.username) }}
            <i class="user icon"></i>
        </div>
    {{ form_errors(form.username) }}
        </div>
    <div class="field">
        {{ form_label(form.email) }}
        <div class="ui left icon input">
    {{ form_widget(form.email) }}
            <i class="mail icon"></i>
            </div>
    {{ form_errors(form.email) }}
    </div>
        <div class="field">
    {{ form_label(form.plainPassword.first) }}
            <div class="ui left icon input">
    {{ form_widget(form.plainPassword.first) }}
                <i class="lock icon"></i>
                </div>
    {{ form_errors(form.plainPassword.first) }}
        </div>
            <div class="field">
    {{ form_label(form.plainPassword.second) }}
                <div class="ui left icon input">
    {{ form_widget(form.plainPassword.second) }}
                    <i class="lock icon"></i>
                    </div>
            </div>

    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="ui black submit button" />
    </div>
</form>
    </div>
    </div>


   <div class="ui vertical divider">
    Ili
   </div>
   <div class="center aligned column">
       <a href="{{ path('fos_user_registration_register') }}">
           <div class="huge blue ui labeled icon button">
               <i class="facebook icon"></i>
               Facebook prijava
           </div>
       </a>

   </div>

 </div>
 </div>
 </div>